<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>35564AEE-D0E5-4493-8E44-68F9CA976739</string>
			<string>EA4CB51A-5356-4E38-A723-E1FC3C406E00</string>
			<string>1800B0C8-5447-49E1-B825-960AFE425E21</string>
			<string>------------------------------------</string>
			<string>8F75A4B4-35FA-44F7-926C-739A7598AC5E</string>
			<string>CDDD0007-FF10-4E6D-9C73-496723DD99BB</string>
			<string>------------------------------------</string>
			<string>9B9D4F76-D4C4-4C5D-84C6-638F8C73C426</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>TracWiki</string>
	<key>ordering</key>
	<array>
		<string>9B9D4F76-D4C4-4C5D-84C6-638F8C73C426</string>
		<string>CDDD0007-FF10-4E6D-9C73-496723DD99BB</string>
		<string>8F75A4B4-35FA-44F7-926C-739A7598AC5E</string>
		<string>35564AEE-D0E5-4493-8E44-68F9CA976739</string>
		<string>EA4CB51A-5356-4E38-A723-E1FC3C406E00</string>
		<string>1800B0C8-5447-49E1-B825-960AFE425E21</string>
	</array>
	<key>uuid</key>
	<string>B988D08A-F2FB-43E3-ACBE-91B923DF4F14</string>
</dict>
</plist>
